{% extends 'medico/base.html' %}
{% load static %}
<!-- EDGAR GOMES OLIVEIRA -->
{% block content %}

      <div class="container-add">
        		
          <form class="form" action="/medico/add_especialidade" method="POST" role="form">
            
              {% csrf_token %}
              {{ form.as_p }}
              
              <div class="form-group">
                  <label class="form-label">Nome</label>
                  <input type="text" class="form-control" id="name" name="nome" placeholder="Nome" tabindex="1" required>
              </div>
              <div class="form-group">
                  <label class="form-label">Descrição</label>
                  <input type="text" class="form-control" id="name" name="descricao" placeholder="Descrição" tabindex="1" required>
              </div>
              
              <div class="text-center">
                  <button type="submit" class="btn">Confirmar</button>
              </div>
          </form>
          
      </div>
  </div>

{% endblock content %}